<p>
    <a class="btn btn-primary" routerLink="/admin/products/new">New Product</a>
</p>
<p>
    <input #query (keyup)="filter(query.value)" type="text" placeholder="Search by product name..." class="form-control">
</p>

<data-table [items]="items" [itemCount]="itemCount" [pagination]="true" (reload)="reloadItems($event)">

    <data-table-column [property]="'imageUrl'" [header]="'Product'" [sortable]="false" [resizable]="false">
        <ng-template #dataTableCell let-item="item">
            <div [style.backgroundImage]="'url(' + item.imageUrl + ')'" class="img img-thumbnail product-img"></div>
        </ng-template>
    </data-table-column>

    <data-table-column [property]="'title'" [header]="'Title'" [sortable]="true" [resizable]="true">
    </data-table-column>

    <data-table-column [property]="'price'" [header]="'Price'" [sortable]="true" [resizable]="true">
        <ng-template #dataTableCell let-item="item">
            {{ item.price | currency:'USD':true }}
        </ng-template>
    </data-table-column>

    <data-table-column [property]="'$key'" [header]="'Action'">
        <ng-template #dataTableCell let-item="item">
            <a [routerLink]="['/admin/products/',item.$key]">Edit</a>
        </ng-template>
    </data-table-column>

</data-table>

<!--
<table class="table table-bordered"> 
    <thead>
        <tr>
            <th>Product</th>
            <th>Title</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of filterProducts">
            <td>
                <img [src]="p.imageUrl" class="img img-thumbnail product-img">
            </td> 
            <td>{{ p.title }}</td>
            <td>{{ p.price | currency:'USD':true }}</td>
            <td>
                <a [routerLink]="['/admin/products/',p.$key]">Edit</a>
            </td>
        </tr>
    </tbody>
</table>
-->